
.wrapper {
    height: 20vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 40ch;
    animation: typing 2s steps(1000), blink .100s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    position: absolute;
    top: 38%;
    right: 3%;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  } 
      
  /* @keyframes blink { */
    /* 50% { */
      /* border-color: transparent */
    /* } */
  /* } */

h1{

  text-align: center;
  position: absolute;
  top: 20%;
  right: 10%;
  text-shadow: 5px 10px 10px white;
  font-family: monospace;
 
}

  .d1{

    background-image: url("./img/background.png");
    /* background-repeat: no-repeat;
    background-size: cover; */

  }

  #img{
      margin-right: 30px;
     
     

      
  }

  #img img {
      border-radius: 25px;
      box-shadow: 20px 20px 50px grey;
      width: 40%;
      margin-left: 10%;
      height: 40%;
      margin-top: 10%;
     
      

  }



  .homebtn{
    width: 8%;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    color: black;
    border: none;
    margin-left: 20%;
    margin-top: 10px;
    position: absolute;
    bottom: 20%;
    right: 25%;
    font-size: medium;
}

.homebtn:hover {

  background-color:rgba(255, 255, 255, 0.793);
  border: 2px solid gray;
}

#b1{
  position: absolute;
  bottom: 20%;
  right: 15%;
}

#b2{
  position: absolute;
  bottom: 20%;
  right: 25%;
}


.homebtn a{
 color: black;
 text-decoration: none;
}

.homebtn a:hover{
  color: black;
}








  

  #footer{
      height: 10px;
      background-color: white;
  }

  #footer span {
padding-bottom: 20px;
  }
